@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: #fff;
}

body {
  background: #0e3047;
}

.header {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 55px;
}

.identity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  background: #f97300;
  border: none;
  border-radius: 4px;
}

/* APP */

.app {
  margin: auto;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.col {
  display: grid;
  width: 90%;
}

.row {
  display: grid;
  min-width: 200px;
  grid-template-columns: 1fr auto;
  background: #f8f5e4;
  border-radius: 5px;
  padding: 15px;
}

.row h2,
h3 {
  color: #000;
}

.btn-add {
  border: none;
  background: transparent;
  text-decoration: none;
  background: #f97300;
  padding: 10px 15px;
  border-radius: 5px;
}

.row + .row {
  margin-top: 20px;
}

.col-2 {
  width: 90%;
  background: #f8f5e4;
  border-radius: 5px;
  position: relative;
}

.desc::before {
  content: 'Decrição';
  position: absolute;
  top: -40px;
}

.amount::before {
  content: 'Preço';
  position: absolute;
  top: -40px;
}

.title::before {
  content: 'Categoria';
  position: absolute;
  top: -40px;
}

.date::before {
  content: 'Data';
  position: absolute;
  top: -40px;
}

.transactions {
  display: flex;
  align-items: center;
  background: #0e3047;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  gap: 20px;
}

.transactions li{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.transactions + .transactions {
  margin-top: 10px;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  .header {
    width: 70%;
  }
  .app {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .col {
    grid-template-columns: 1fr 1fr;
  }
  .row {
    margin-top: 20px;
  }
  .entry {
    margin-right: 10px;
  }
  .out {
    margin-le: 10px;
  }
  .liquid {
    grid-column: 1 / -1;
  }
  .col-2 {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .header {
    width: 95%;
  }
  .col {
    width: 95%;
  }
  .row-info li {
    width: 15ch;
    font-size: .875rem;
  }
  .col-2 {
    width: 95%;
  }
}