@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: #fff;
}

body {
  background: #0e3047;
}

.header {
  margin: auto;
  padding: 20px;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.identity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-add {
  border: none;
  background: transparent;
  text-decoration: none;
  background: #f97300;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
}

.btn-add:hover {
  transform: translateY(-5px);
}

.fa-solid {
  top: 26px;
  right: 0px;
  opacity: 0;
  position: absolute;
  padding: 10px;
  border-radius: 50%;
}

/* APP */

 .app {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
} 

.row {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #f8f5e4;
  border-radius: 5px;
  padding: 15px;
}

.row h2,
h3 {
  color: #000;
}

.row + .row {
  margin-top: 20px;
}

.col {
  margin-right: 20px;
}

.col-2 {
  background: #f8f5e4;
  border-radius: 5px;
  position: relative;
}

.desc::before {
  content: 'Decrição';
  position: absolute;
  top: -40px;
}

.amount::before {
  content: 'Preço';
  position: absolute;
  top: -40px;
}

.title::before {
  content: 'Categoria';
  position: absolute;
  top: -40px;
}

.date::before {
  content: 'Data';
  position: absolute;
  top: -40px;
}

.transactions {
  display: flex;
  align-items: center;
  background: #0e3047;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  gap: 20px;
}

.transactions li{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.transactions + .transactions {
  margin-top: 10px;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  .app {
    grid-template-columns: 1fr;
  }
  .col {
    margin-right: 0px !important;
    margin-bottom: 70px;
  }
}

@media (max-width: 600px) {
  .col {
    font-size: .875rem;
  }
  .row-info ul {
    font-size: .875rem;
  }
  .btn-add {
    display: none;
  }
  .fa-solid {
    opacity: 1;
    margin-right: 20px;
    color: #f97300;
    background: #f8f5e4;
  }
  .col {
    margin-right: 0px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .row.out {
    margin-top: 0px !important;
  }
  .row.liquid {
    margin-top: 0px !important;
    grid-column: 1/-1;
  }
}