@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: #fff;
}

body {
  width: 90%;
  margin: auto;
  background: #0e3047;
}

.header {
  margin: auto;
  padding: 50px 25px;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.identity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-add {
  border: none;
  background: transparent;
  text-decoration: none;
  background: #f97300;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
}

.btn-add:hover {
  transform: translateY(-5px);
}

.fa-solid {
  top: 26px;
  right: 0px;
  opacity: 0;
  position: absolute;
  padding: 10px;
  border-radius: 50%;
}

/* APP */

 .app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
} 

.row {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #f8f5e4;
  border-radius: 5px;
  padding: 15px;
  transition: 0.5s;
}

.row:hover {
  transform: translateY(-5px);
}

.row h3 {
  color: #000;
}

.row.entry h2 {
  color: #10828C;
}

.row.out h2 {
  color: #f97300;
}

.row.liquid h2 {
  color: #0e3047;
}

.row + .row {
  margin-top: 20px;
}

.col {
  margin-right: 20px;
}

.col-2 {
  background: #f8f5e4;
  border-radius: 5px;
  position: relative;
}

.desc::before {
  content: 'Decrição';
  position: absolute;
  top: -40px;
}

.amount::before {
  content: 'Preço';
  position: absolute;
  top: -40px;
}

.title::before {
  content: 'Categoria';
  position: absolute;
  top: -40px;
}

.date::before {
  content: 'Data';
  position: absolute;
  top: -40px;
}

.transactions {
  display: flex;
  align-items: center;
  background: #0e3047;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  gap: 20px;
}

.transactions li{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.transactions + .transactions {
  margin-top: 10px;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  .app {
    grid-template-columns: 1fr;
  }
  .col {
    margin-right: 0px !important;
    margin-bottom: 70px;
  }
}

@media (max-width: 600px) {
  .row.liquid {
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-row: 1;
  }
  .row.liquid h3 {
    display: none;
  }
  .liquid h2::before {
    content: 'Total';
    color: #000;
    font-size: .875rem;
    text-transform: uppercase;
    margin: 0 20px 0 10px;
  }
  .liquid h2 {
    font-size: 1rem;
    color: #0e3047;
  }
  .row.entry {
    height: 50px;
    padding: 10px;
  }
  .row.entry h3 {
    font-size: .875rem;
    text-transform: uppercase;
  }
  .row.entry h2 {
    font-size: .875rem;
    color: #10828C;
  }
  .row.out {
    height: 50px;
    padding: 10px;
  }
  .row.out h3 {
    font-size: .875rem;
    text-transform: uppercase;
  }
  .row.out h2 {
    font-size: .875rem;
    color: #f97300;
  }
  .col {
    font-size: .875rem;
  }
  .col img {
    width: 24px;
  }
  .row-info ul {
    font-size: .875rem;
  }
  .btn-add {
    display: none;
  }
  .fa-solid {
    opacity: 1;
    top: 55px;
    margin-right: 20px;
    color: #f97300;
    background: #f8f5e4;
  }
  .col {
    margin: 0 0 25px 0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .row.out {
    margin-top: 0px !important;
  }
  .row.liquid {
    margin-top: 0px !important;
    grid-column: 1/-1;
  }
  .col-2 {
    background: transparent;
  }
  .desc::before {
    display: none;
  }
  
  .amount::before {
    display: none;
  }
  
  .title::before {
    display: none;
  }
  
  .date::before {
    display: none;
  }
  .transactions {
    display: grid;
    margin: 0 0 10px 0!important;
    grid-template-columns: auto 1fr 1fr;
    gap: 10px;
  }
  .transactions img {
    width: 24px;
  }
  .transactions .desc {
    grid-row: 2;
    grid-column: 1/-1;
    width: 30ch;
  }
  .transactions
    .title {
      display: none;
    }

  .row-info ul {
    background: #f8f5e4;
  }
  .row-info ul p {
    color: #000;
  }
}

/* FORM */

.form-section {
  background-color: #f5f5f5;
  margin: 0 20px;
  padding: 20px;
  border-radius: 10px;
}

.form-section h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.form-section p {
  margin-bottom: 10px;
}

.form-section label {
  font-weight: bold;
  color: #000;
}

.form-section label abbr {
  display: none;
}

.form-section input[type="text"] {
  width: 99% !important;
  color: #000;
}

.form-section input[type="number"],
.form-section input[type="text"],
.form-section input[type="date"],
.form-section select {
  color: #000;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #e6e6e6;
  width: 100%;
  margin-bottom: 20px;
}

.form-section input[type="submit"] {
  background-color: #f97300;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 50%;
  transition: 0.8s;
}

.form-section input[type="submit"]:hover {
  width: 100%;
  background-color: #f97300;
}

@media (max-width: 1000px) {
  .form-section input[type="text"] {
    width: 96% !important;
  }
.form-section input[type="date"],
.form-section select {
  color: #000;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #e6e6e6;
  width: 99%;
  margin-bottom: 20px;
}
.form-section input[type="submit"] {
  background-color: #f97300;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: 0.8s;
}
.form-section input[type="submit"]:hover {
  transform: translateY(10px);
}
}

.transacoes {
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
  background: #f8f5e4;
  border-radius: 5px;
}

.transacoes a {
  text-decoration: none;
  font-weight: 600;
  background: #0e3047;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 1s;
}

.transacoes a:hover {
  background: #10828C;
}