<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="header">
    <nav class="nav">
      <ul class="menu">
        <li>Home</li>
        <li>Despesas</li>
        <li>Transações</li>
      </ul>
    </nav>
  </header>

  <section class="intro">
  
  <h1>Transactions Summary</h1>
  <p>Total amount for transactions with type "Salário": <%= @sum %></p>


  </section>

</body>

</html>